* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.caixa {
  width: 100%;
  height: 30vh;
  background-color: black;
  color: whitesmoke;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}


.lista {
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style: square;
}

.lista li {
  font-size: 1.2em;
}

.header {
  background-color: black;
  padding: 5vw;
}


.coluna {
  display: flex;
  flex-wrap: wrap; 
}


.topo {
  width: 100%;  
  display: flex;
  flex-direction: coluna;
  justify-content: space-around;
  align-items: center;
  background-color: #f1f1f1;
  padding: 1vw;
  text-decoration: none;
  
}


.barra_nav {
  color: rgb(8, 8, 8);
  padding: 1vw;  
}

.barra_nav_ul {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;  
  padding: 0; 
  
}

.barra_nav_il {
  text-align: center;
  margin: 1vw;
  list-style: none;
}


.barra_nav:hover {
  color: blue;
  text-decoration: none;
}


.main {
  flex: 70%;
  background-color: white;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 2vw;
  
}


.sublista {
  font-size: medium;
  padding-left: 5vw; 
}

